*{
	font-family: 'Open Sans', sans-serif;
}

/* Galleri CSS */

#cardText{
	max-height: 4em;
    overflow: hidden;
}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	min-width: 90vw;
  }
  
  .addHamster{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 85vw;
	padding: 1em;
  }


.grid{
	padding-inline: unset;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
	min-width: 97%;
    max-width: 90%;
	align-items: flex-start;
  }
  
  .infoCard{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    min-height: 16em;
    max-width: 17em;
    background-color: #ffffff45;
    border-radius: 1em;
    padding: 1em 0 1em;
    transition: all .2s;
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 
	0 2px 2px rgb(0 0 0 / 12%), 
	0 4px 4px rgb(0 0 0 / 12%), 
	0 8px 8px rgb(0 0 0 / 12%), 
	0 16px 16px rgb(0 0 0 / 12%);
    overflow: hidden;
  }

  .infoCard:hover, .hide{
	  transform: scale(1.1);
	  display: block;
  }

  .hide{
	  display: none;
  }
  
  .infoCard > figure{
	display: flex;
    flex-wrap: wrap;
	position: relative;
	max-height: 12em;
	min-height: 9em;
	min-width: 8em;
	margin-block: unset;
  }

  
  .infoCardImg{
	max-width: 90%;
    max-height: 100%;
	border-radius: 1em;
  }

  .container{
	width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .buttons{
	min-height: 4em;
	width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
  }
  
  .buttons > button{
	display: flex;
	align-items: center;
	max-height: 2.25em;
	padding: .25em;
	background-color: #ffffff45;
	border: none;
	border-radius: 1em;
	padding: .5em;
  }
  
  .trashcan{
	background: no-repeat url(../../icons/trashcan1.svg);
	min-width: 2em;
	min-height: 3em;
  }

  .trashcan:hover{
	background-color: #BF9A7A;
    color: black;
  }

  /* Form CSS */

  h3{
	font-size: .7em;
    margin: .5em .75em;
  }

  .info.true{
	display: flex;
	}
	
	.info.false{
		display: none;
	}

	.formFields{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		background-color: #ffffff45;
		min-width: 30em;
		padding: 5em 0;
		margin-bottom: 2em;
		border-radius: 1em;
	}

	.formFields > h1{
		font-size: 1.4em;
	}

	.headline{
		font-style: italic;
	}

	.formFields > input {
		padding: 0.5em 2em;
		margin: .75em;
		font-size: 1em;
		border: 1px solid #3c3c3c;
		border-radius: 1em;
	}

	.formFields > button{
		font-size: 1em;
		border: 1px solid #3c3c3c;
		border-radius: 2em;
		padding: 0.5em 2em;
		
	}

	.form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	/* Overlay */
	
	  .image {
		opacity: 1;
		display: block;
		width: 100%;
		height: auto;
		transition: .5s ease;
		backface-visibility: hidden;
	  }
	  
	  .middle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: left;
		min-height: 12em;
		min-width: 89.75%;
		border-radius: 1em;
		background: #ffffff7d;
		transition: .5s ease;
		opacity: 0;
		position: absolute;
		top: 39%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		text-align: center;
	  }
	  
	  .infoCard:hover .image {
		opacity: 0.3;
	  }
	  
	  .infoCard:hover .middle {
		opacity: 1;
	  }
	  
	  .text {
		font-size: .5em;
		padding: 2em 1em;
		column-count: 2;
    	column-gap: 1em;
	  }
	  .text > p{
		  margin: 0 .25em;
		  line-height: 1.5;
	  }
	  