*{
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
}

p{
    font-size: 1.5em;
    font-weight: 600;
    margin: .75em;
}

h1{
    font-size: 2em;
    margin-left: 1em;
}

.winLoseText{
    column-count: 2;
    column-gap: 1em;
    column-rule: 1px solid black;
    margin-left: 1em;
}

.overlay-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    margin: 0 1em;
    font-size: 1em;
    line-height: 1.75em;
}

.hamsters{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}    

figure{
    height: 30vh;
    max-width: 90vw;
    min-width: 42vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure > img{
    object-fit: cover;
    object-position: center;
    width: 20em;
    height: 15em;
}

.compete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hamsterCompete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 90vw;
    border-radius: 1em;
    padding: 2em 0;
    margin: 2em 1em;
    background: #ffffff45;
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 
    0 2px 2px rgb(0 0 0 / 12%), 
    0 4px 4px rgb(0 0 0 / 12%), 
    0 8px 8px rgb(0 0 0 / 12%), 
    0 16px 16px rgb(0 0 0 / 12%);
}

.serverErrorRandom{
    font-size: 1em;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.competingHamsters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em;
    width: 20em;
}

.overlay.true{
    display: flex;
    position: absolute;
    min-height: 65%;
    max-width: 95%;
    background: #dec9b8;
    top: 3em;
    right: 1.5em;
    border-radius: 1em;
    padding: 2em 0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 
    0 2px 2px rgb(0 0 0 / 12%), 
    0 4px 4px rgb(0 0 0 / 12%), 
    0 8px 8px rgb(0 0 0 / 12%), 
    0 16px 16px rgb(0 0 0 / 12%);
    animation: zoom-in-zoom-out 2s ease-in-out;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.1, 1.1);
    }
    100% {
      transform: scale(1, 1);
    }
  }

.overlay.false{
    display: none;
}

.results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 30em;
}

.results-hamster{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 20em;
    min-height: 22em;
}

.results-hamster > figure {
	min-width: unset;
    height: unset;
}

.results-hamster > figure > img{
    max-width: 85%;
    max-height: 12em;
}


.restartBtn{
    width: 73vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 2em;
}

@media only screen and (max-width: 600px){
    figure{
        height: unset;
        max-width: unset;
    }

    .competingHamsters{
        padding: unset;
        width: unset;
    }

    .infoCardImg{
        height: unset;
        min-height: 9em;
        width: unset;
    }
}

@media only screen and (max-width: 600px){
    .overlay.true{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}