h1, h2, a{
  font-family: 'Playfair Display', serif;
  color: black;
}

p, button, h3{
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 90vw;
  padding: 3em;
}

.menuSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

h2{
  font-size: 2em;
  margin: unset;
}

a{
  text-decoration: none;
  font-size: 1.25em; 
  margin: 0 1em;
}

a:active{
  color: rgb(65, 65, 65);
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 90vw;
}

.addHamster{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 85vw;
  padding: 1em;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  min-width: 90vw;
}

.infoCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15em;
  max-width: 17em;
  border: 1px solid darkgrey;
  border-radius: 1em;
  padding: 2em 0;
}

.infoCard > figure{
  max-height: 10em;
  min-height: 9em;
  min-width: 8em;
  margin-block: unset;
}

.infoCardImg{
  max-width: 100%;
  max-height: 100%;
}

.buttons{
  display: flex;
  flex-direction: row;
}

.buttons > button{
  padding: .25em;
}