
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 90vw;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  min-width: 90vw;
}

.infoCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15em;
  max-width: 17em;
  border: 1px solid darkgrey;
  border-radius: 1em;
  padding: 2em 0;
}

.infoCard > figure{
  max-height: 10em;
  min-height: 9em;
  min-width: 8em;
  margin-block: unset;
}

.infoCardImg{
  max-width: 100%;
  max-height: 100%;
}

.buttons{
  display: flex;
  flex-direction: row;
}

.buttons > button{
  padding: .25em;
}