*{
  scroll-behavior: smooth;
}

html{
  background: #BF9A7A;
}

h1, h2, a{
  font-family: 'Playfair Display', serif;
  color: black;
}

p, button, h3{
  font-family: 'Open Sans', sans-serif;
  color: black;
}


img{
  border-radius: 1em;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 90vw;
  padding: 3em;
  background: #806752;
}

.menuSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.menuSection > a{
  text-decoration: none;
  font-size: 1.25em; 
  margin: 0 1em;
}

.menuSection > a:hover{
  text-decoration: underline;
}

h2{
  font-size: 2em;
  margin: unset;
}



